/* uni.scss */
@import '@/uni_modules/uni-scss/variables.scss';

/* 主题色 */
$uni-primary: #007AFF;
$uni-primary-disable:mix(#fff,$uni-primary,50%);
$uni-primary-light: mix(#fff,$uni-primary,80%);

/* 文字基本颜色 */
$uni-text-color:#333; // 基本色
$uni-text-color-inverse:#fff; // 反色
$uni-text-color-grey:#999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#fff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1; // 点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4); // 遮罩颜色

/* 边框颜色 */
$uni-border-color:#e5e5e5;

/* 尺寸变量 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%; 